:root {
    font-family: 'Roboto', sans-serif;
    --white: #fff;
    --black: #000000;
    --pink: #FF5678;
    --blue: #35E6E9;
    --light-blue: #C0EBF4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.content {
    display: grid;
    grid-template-areas: 
        ". . . . ."
        ". hero . form ."
        ". hero . form ."
        ". . . . ."
    ;
    gap: 85px;
}

aside {
    grid-area: hero;
}

aside h1 {
    color: var(--black);
    font-size: 64px;
    font-weight: 500;
}

aside h1 span {
    color: var(--pink);
}

main {
    grid-area: form;

    width: 600px;
    height: 520px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    padding: 47px 57px;
    position: relative;
}

main h2 {
    max-width: 430px;
    max-height: 85px;
    font-size: 36px;
    font-weight: 500;
}

main h2 span {
    color: var(--pink);
}

.actions {
    display: flex;
    flex-direction: column;
}

.actions a {
    height: 55px;
    font-size: 24px;
    border-radius: 12px;
    text-decoration: none;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.actions a:first-child {
    background-color: var(--blue);
    margin-top: 54px;
}

.actions a:nth-child(2) {
    background-color: var(--pink);
    margin-top: 48px;
}

main header {
    display: flex;
    align-items: center;
    gap: 0 18px;
}

main header i {
    font-size: 18px;
    color: var(--pink);
}

main footer p {
    font-size: 16px;
    margin-top: 80px;
}

main footer a {
    margin-top: 10px;
    font-size: 18px;
    display: block;
    text-align: center;
    color: var(--black);
}

main form {
    margin-top: 18px;
}

main form label {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}

main form input, main form select {
    width: 489px;
    height: 55px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);

}

main form select {
    appearance: none;
}

main form .select-div {
    position: relative;
}

main form .select-div::after {
    content: "\f107";
    font-family: 'Font Awesome 6 Free';
    font-weight: 600;
    font-size: 22px;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    color: var(--blue);
}

main form .points {
    position: relative;
}

main form input + button {
    position: absolute;
    right: -40px;
    top: calc(27px + 25px);
    background-color: transparent;
    border: none;
    color: var(--blue);
    font-size: 24px;
    cursor: pointer;
}